// if there's an image in the first column start the description from the second column
// otherwise it's full-width.
.description {
  grid-column: 1/-1;
}
img {
  + .description {
    grid-column: 2 / -1;
  }
}
// set max-height when content is expanded so there can be a height transition without having a fixed height.
.expandable {
  max-height: 800px;
  visibility: visible;
  & + button .expand__arrow {
    transform: rotate(180deg);
  }
}
