// if there's an image in the first column start the description from the second column
// otherwise it's full-width.
.description {
  grid-column: 1/-1;
}
img {
  + .description {
    grid-column: 2 / -1;
  }
}
.expand__check {
  &:checked {
    + .expandable {
      max-height: 800px;
      visibility: visible;
    }
  }
}
